.containerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
}

p {
    text-align: center;
    width: 50%;
}

h1 {
    font-size: 2em !important;
    text-align: center;
    width: 50%;
    color: var(--cor-1);
}