.containerLogo {
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagemLogo {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.imagemLogo:hover {
    transform: scale(1.1);
}