
.container-botao-senhas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container-botao-senhas button {
    color: var(--cor-1);
    background-color: var(--cor-2);
    height: 65px;
    width: 190px;
    cursor: pointer;
    transition: all 0.3s;
    border: 3px solid var(--cor-1);
    border-radius: 15px;
}


.container-botao-senhas button:hover {
    transform: scale(1.1);
}

.container-senhas {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--cor-4);
    gap: 20px;
}

.botao-proximo {
    background-color: var(--cor-2);
    color: var(--cor-1);
}